*{
    height: 100%;
    width: 100%;
}
/* bodybg:-   rgb(54, 187, 122);
alltext color: rgb(43, 239, 144);
main-bg:- rgb(70, 121, 70);
main-shadow:- 0px 0 100px rgba(0, 0, 0, 0.601);
ans-bgc:rgb(91, 232, 91);
ans-text-shadow:rgb(0,0,0);
ans-tect-clor:-rgb(11, 54, 11); 
keys-bgc:rgb(91, 232, 91);
keys>div-bgc:-rgb(11, 54, 11);
keys>div-hover:-0 0 20 rgb(0,0,0);
*/

body{
    background-color: rgb(54, 187, 122);
    background: linear-gradient(to top right , rgb(43, 239, 144) ,rgb(11, 54, 11) );
    color: rgb(43, 239, 144);
    font-family: monospace;
    overflow: hidden;
}
.main{
    width: 31vw;
    box-shadow: 10px 10px 10px rgba(91, 232, 91,.601);
    height: 80vh;
    margin-top: 15vh;
    margin: 10vh 34.5vw;
    padding: 5px 0 ;
    background: rgb(70, 121, 70);
    border-radius: 2vh;
}
.main>#ans{
    width: 27vw;
    height: 10vh;
    margin: 3vh 2vw;
    border-radius: 5px;
    background-color: rgb(91, 232, 91);
    color: rgb(11, 54, 11);
    text-shadow: 0px 0px 5px rgb(0, 0, 0 );
    font-size: 4rem;
}
.keys{
    border-radius: 5px;
    width: 26vw;
    margin: 3vh 2vw;
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(91, 232, 91);
    padding: 1vh ;
    justify-content: space-around;
}
.keys div{
    background-color: rgb(11, 54, 11);
    border-radius: 50px;
    width: 4.8vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-size: 3vw;
}

.keys div:hover{
    box-shadow: 0px 0px  5px rgb(0, 0, 0);
}